/* Footer.css 또는 관련 CSS 파일 */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* 원하는 배경색으로 변경 가능 */
    z-index: 1000; /* 푸터가 다른 콘텐츠 위에 나타나게 함 */
  }
  