/* 기본 헤더 스타일 */
.header {
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  /* 로고 이미지와 텍스트 */
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 50px;
    margin-right: 15px;
  }
  
  .logo-text p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  .logo-text h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  /* 네비게이션 메뉴 스타일 */
  .header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-nav li {
    margin-left: 30px;
  }
  
  .header-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .header-nav a:hover {
    color: #007bff;
  }
  